In [1]:
from transformers import AutoTokenizer, LlamaForCausalLM

/Users/weiceica/Desktop/URPS/LLM4GeoInfo/myenv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
model = LlamaForCausalLM.from_pretrained("meta-llama/Llama-2-7b-hf", 
                                         token = "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")

tokenizer = AutoTokenizer.from_pretrained("meta-llama/Llama-2-7b-hf", 
                                          token = "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")

Loading checkpoint shards: 100%|██████████| 2/2 [00:43<00:00, 21.56s/it]

In [3]:
import pandas as pd
file_p = 'world_country_and_usa_states_latitude_and_longitude_values.csv'
df = pd.read_csv(file_p)
df = df[['country', 'latitude', 'longitude']]
df.head()

/var/folders/6n/tkyy6kcj11s3n3dzjcx0c09r0000gn/T/ipykernel_1563/2936633466.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

                country   latitude  longitude
0               Andorra  42.546245   1.601554
1  United Arab Emirates  23.424076  53.847818
2           Afghanistan  33.939110  67.709953
3   Antigua and Barbuda  17.060816 -61.796428
4              Anguilla  18.220554 -63.068615

In [6]:
df['major_cities'] = None
for index, row in df.iterrows():
    prompt = f"List 5 major cities above 100k population about this coordinate: {row['longitude']}, {row['latitude']}."

    inputs = tokenizer(prompt, return_tensors="pt")
    if index == 1:
        break

    generate_ids = model.generate(inputs.input_ids, max_length=100)
    response = tokenizer.batch_decode(generate_ids, skip_special_tokens=True, clean_up_tokenization_spaces=False)[0]

    print(response)

    df.at[index, 'major_cities'] = response

: